use flake

if command -v pre-commit >/dev/null 2>&1; then
  if [[ ! -x .git/hooks/pre-commit ]] || ! rg -q "pre-commit" .git/hooks/pre-commit; then
    pre-commit install -f >/dev/null 2>&1 || true
  fi
fi
